body {
    margin: 0 auto;
    color:#777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-image: url("./images/wavy-dots.png");
}

header {
    width: 100%;
    padding: 25px 0px;
    margin-bottom:20px;
    position: relative;
    display:block;
    background-color:#FFF;
    border-bottom: solid 2px #000;
}

.content {
    width:960px;
    margin: 0px auto;
    position: relative;
}

h1{

color: #FFF;
font-family: 'Georgia', Times, 'Times New Roman', serif;
background-color:#4aaaa5;
margin-left:0px;
padding:25px 20px;
display:inline;
}

h2 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: #4aaaa5;
    margin:20px;
    /*padding: 10px 0px;*/
}

.logo {
    float:left;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

span {
    background-color:#4aaaa5;
    padding:10px;
}


p {
    color: #777;
    margin: 0px 20px 20px 20px;
}

footer {
    background-color: #666;
    width:960px;
    position:fixed;
    bottom:0px;
    border-top:solid 4px #4aaaa5;
    margin: 0 auto;
    color:#fff;
    padding:40px 0px 1px 0px;
    z-index: 3;
    
}

footer p {
    color:#fff;
    text-align:center;

}

form {
    margin:20px;


}

.wrapper {
    width:960px;
    margin:0px auto;
    padding:0px;
    
    
}



.main {
    margin-bottom: 100px; background-color:#FFF;
    border: solid 1px #ddd;
}

article {
    margin: 20px;
}

.main figure {
    width:300px;
    float: left;
    display:inline;
    margin:0px 20px 10px 0px;
}

.main figcaption {
    font-size:14px;
    color:#777;
    font-style: italic;
    text-align: center;
    
}

.main img {
    width:100%;
}


nav {
    float:left;
    display:inline;
    position:absolute;
    padding: 10px 20px;
    right: 0px;

}

nav a {
    text-decoration: none;
    padding-left:40px;
    color:#666;

}

nav a:hover {
    color: #333;
}

nav a.active {
    text-decoration:underline;

}

hr {
    margin:20px;
    border-color: #666;
    border-width: 1px;
}



#gallery {

    margin-bottom:20px;

}

#gallery figure {
    height:300px;
    width:300px;
   }

#galleryfigure img {
    z-index: -1;
    
}

.left {
    float:left;
    display:inline;
}

.right {
    float:left;
    display:inline-block;
}

.left1 {
    float:none;
    display:inline-block;
}

#gallery figcaption {
    width:100%;
    background-color: #4aaaa5;
    color:#fff;
    position: relative;
    bottom:80px;
    padding:10px 0px;
    margin: 0px auto;
    text-align: center;
    z-index:2;
    

}



.button {
    background-color: #4aaaa5;
    border-radius: 3px;
    color: #FFF;
    padding:5px 20px;
}

@media only screen and (max-width: 980px) {

    .wrapper {
        width:100%;
        
    }
    .content {
        width:100%;
    }
    
    .main {
        width:768px;
        margin:0px auto;
        padding-right:20px;
        padding-left:20px;
        }

    .content {
        width:100%;
    }

    .footer {
        width:100%;
    }
}


@media only screen and (max-width: 768px) {
    
    .wrapper {
        width:100%;
        margin:0px auto;
        padding:0px   
         }

         .main {
             width:640px;
            
         }
}


@media only screen and (max-width: 640px) {
    header {
        position: static;
        padding:0px;
        margin:0px auto;
        }
    h1 {
        display:block;
        text-align:center;
        width:100%;
        margin:0px auto;
    }
    
    nav {
        float:none;
        display:block;
        position:static;
        padding: 10px 20px;
        margin: 0px auto;
        text-align:center;
        

    }

nav a {
    text-decoration: none;
    padding-left:40px;
    color:#666;

}    
        .left {
            float:none;
            display:block;
        }
        
        .right {
            float:none;
            display:block;
        }

        .main {
            width:100%;
            margin-left: 20px;
            margin-right:20px;
        }
        .main img {
            /*border: dashed 8px red;*/
            
            float: none;
            display:block;
            margin: 20px auto;
            width:100%;
            max-width:600px;
        }
    p {
        margin-right:20px;}




    
}